work/
results/
*.pyc
.vscode
.nextflow*
logs/
bin/test*
bin/old*
table_desc.csv
.DS_Store
testdata/2022-06-*
testdata/salmon-quant
testdata/gffread
testdata/mut-transcriptome-test
testdata/top-genes-mut-transcriptome
testdata/test-data
testdata/debug-bcftools
testdata/get-heg-leg-fasta
testdata/rank-genes-test
testdata/vcfr-test
testdata/cat-analysis
testdata/merged-vcf
testdata/metadata
testdata/codon-counts
testdata/circos-test
testdata/genome/pichia