// your workflow parameters
params {
  
  resultsDir = "./results/"

  // GET_METADATA parameters
  taxonId = "562"
  limitSearch = "0"
  removeRun = '"SRR13894889"'
  max_sra_bytes = "55000000000"
  dateMin = "2017-05-01"
  dateMax = "2017-05-31"

  // Genome files
  genome.reference = "testdata/genome/Escherichia_coli_str_k_12_substr_mg1655_gca_000005845.ASM584v2.dna.chromosome.Chromosome.fa"
  genome.annotation = "testdata/genome/Escherichia_coli_str_k_12_substr_mg1655_gca_000005845.ASM584v2.53.gtf"

  // STAR parameters
  star.sjdbOverhang = "100"
  star.genomeSAindexNbases = "10"
  star.alignIntronMax = "1"
  star.limitBAMsortRAM = "2342750981"
  star.outBAMsortingBinsN = "50"

  // featureCounts parameters
  featureCounts.type.feature = "exon"
  featureCounts.type.attribute = "gene_id"

  // freebayes parameters
  freebayes.ploidy = "1"
  freebayes.args = ""

  // bcftools parameters
  bcftools.filter_vcf.args = 'QUAL>20 && TYPE="snp"'

  // SALMON_INDEX parameters
  salmon.index.args = ""

  // SALMON_QUANT parameters
  salmon.quant.libtype = "A"
  // salmon.quant.args = "--writeUnmappedNames"

  // SUMMARIZE_TO_GENE parameters
  summarize_to_gene.metadata = "testdata/test-data/metadata/metadata.csv"
  summarize_to_gene.quant.dir = "testdata/test-data/salmon-quant"
  summarize_to_gene.counts_from_abundance = "no"

  // GET_HEG_LEG parameters
  get_heg_leg.proportion = 0.1
  get_heg_leg.permutations = 1000
  get_heg_leg.output.heg = "heg-TrID.csv"
  get_heg_leg.output.leg = "leg-TrID.csv"

  // GET_HEG_LEG_FASTA parameters
  mut_fasta = "testdata/test-data/mut-transcriptome"
  get_heg_leg_fasta.heg_scores = ""
  get_heg_leg_fasta.leg_scores = ""

  // GET_CU_FREQUENCIES parameters
  get_cu_frequencies.heg_fasta_dir = "testdata/test-data/heg-mut-transcriptome"
  get_cu_frequencies.leg_fasta_dir = "testdata/test-data/leg-mut-transcriptome"
  get_cu_frequencies.protein_fasta_dir = "results/protein-mut-transcriptome"
  get_cu_frequencies.tax_id = "83333"
  get_cu_frequencies.cocoputs_counts = "testdata/get-cu-frequencies/cocoputs-83333-codon-counts.csv"

  // GET_CU_FIGURES parameters
  get_cu_figures.aa_property_table = "testdata/figure-data/aa-properties.csv"

  // GET_KO_ID parameters
  get_ko_id.org = "eco"

  // CORDON_CODON_USAGE_ANALYSIS
  coRdon.cub_statistic = "MILC"
  coRdon.len_threshold = "80"

  // GET_TOP_GENES parameters
  top.genes.id = "testdata/datasets/txi-topGenes2trID.txt"

  // metadata
  //metadata = "testdata/test-data/metadata/metadata-delim.csv"
  metadata = "testdata/vcfr-test/metadata-delim.csv"

  // STRAIN_HEG_CAT_PLOT parameters
  real.txi = "results/real-data/txi-summarized-experiment.rds"
  real.metadata = "results/real-data/metadata.csv"
  strain_heg_cat_plot.fdr = "0.01"
  strain_heg_cat_plot.num_strains = "10"

  // GET_STRAIN_CAT_PLOT parameters
  get_strain_cat_plot.tax_names = "testdata/cat-analysis/ncbi-ecoli-taxdump.csv"
  get_strain_cat_plot.heg_scores = "testdata/cat-analysis/heg-scores.csv"
  get_strain_cat_plot.leg_scores =  "testdata/cat-analysis/leg-scores.csv"
  get_strain_cat_plot.num_strains = "10"
  get_strain_cat_plot.fdr = "0.01"

  // VARIANT_ANALYSIS parameters
  vcf_dir = "testdata/test-data/filtered-vcf"
  gff = "testdata/genome/Escherichia_coli_str_k_12_substr_mg1655_gca_000005845.ASM584v2.55.chromosome.Chromosome.gff3.gz"

  // DEBUG_BCFTOOLS parameters
  debug_bcftools.metadata = "testdata/debug-bcftools/metadata/metadata.csv"
  debug_bcftools.vcf = "testdata/debug-bcftools/vcf"

  // CORRECT_SNV parameters
  correct_snv.bam = "testdata/test-data/bams"

  // GET_PCA parameters
  get_pca.txi = "results/data/dataset/txi-summarized-experiment.rds"
  get_pca.metadata = "results/data/metadata/norm_metadata.csv"

  // RANK_GENES parameters
  rank_genes.fdr = "0.01"

  // MERGE_VCF parameters
  //vcf = "testdata/test-data/filtered-vcf"
  //merge_vcf.vcf_dir = "testdata/test-data/filtered-vcf/*.vcf.gz"
  merge_vcf.vcf_dir = "testdata/vcfr-test/vcf-test/*.vcf.gz"
  vcf = "testdata/vcfr-test/vcf-test"

  // VCFR_QC parameters
  vcfr_qc.merged_vcf = "results/merged-vcf/merged.vcf"

  // GET_VCF_STATS parameters
  get_vcf_stats.merged_vcf = "testdata/vcfr-test/merged-vcf/merged.vcf"

  // PLOT_VCF_STATS parameters
  plot_vcf_stats.main_title = "'Escherichia coli merged samples'"

  // STRAIN_CU_HEATMAP parameters
  strain_cu_heatmap.metadata = "testdata/test-data/metadata/metadata.csv"
  strain_cu_heatmap.fasta = "testdata/test-data/heg-mut-transcriptome"
  strain_cu_heatmap.width = "15"
  strain_cu_heatmap.height = "15"

  // ANNOTATE_VCF parameters
  annotate_vcf.dir = "results/mut-gene-count"

  // MERGE_VCF parameters
  bcftools_view.merged_vcf = "test.vcf"
  plot_vcf.merged_vcf = "testdata/merged-vcf/subset-merged-vcf.vcf"

  // SUMMARISE_CODON_COUNTS parameters
  summarise_cc.codon_counts_csv = "testdata/codon-counts/protein-cc-subset.csv"
  
  // PLOT_MUTATION_CIRCOS parameters
  mutation_freq_data = "testdata/circos-test/mutation-frequency-data-subset.csv"
  gene_tpm_scores = "testdata/circos-test/chisq-results.csv"

}

// include basic process configuration options
includeConfig 'conf/base.config' 
